* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: none;
}
body {
  background-color: #fff;
  background-image: url("image/banner-bg-sm.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 650px;
  width: 100%;
}

.navbar-main {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.151);
  width: 100%;
  backdrop-filter: blur(2px);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.logo {
  margin-right: 25px;
}
.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}

.menu-tab {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 14px !important;
  font-weight: 700;
  color: rgb(58 57 57 / 90%);
}

.menu-tab:hover {
  color: #e30b13;
}

.call {
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #e30b13;
  color: white;
  border-radius: 10px;
  height: 50px;
  width: 150px;
  cursor: pointer;
}
.call p {
  font-size: 12px !important;
  font-weight: 600;
}
.call:active, .call:focus, .call:hover {
  color: #fff;
  border-color: #f52c34;
  background: #f52c34;
}

.my-bookings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: transparent;
  color: #e30b13;
  border: 2px solid #e30b13;
  border-radius: 10px;
  height: 50px;
  width: 160px;
  cursor: pointer;
  font-weight: 600;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: transparent;
  color: rgb(58 57 57 / 90%);
  height: 50px;
  width: 170px;
  cursor: pointer;
}

.main {
  padding-top: 80px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
}
.go{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.choose-routes {
  width: 80%;
  background-color: #ffffff;
  padding: 40px 40px 20px 40px;
  border-radius: 10px;
  position: relative;
  margin: 80px 10px;
  margin-top: 120px;
}

.ticket {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 0 0;
  padding: 20px;
}

.search-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #e30b13;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 700 !importan;
  cursor: pointer;
  transition: all 0.2s;
}

.search-btn:active, .search-btn:focus, .search-btn:hover {
  color: #fff;
  border-color: #f52c34;
  background: #f52c34;
}

.transport {
  background-color: #ffffff;
  padding: 10px;
  border: red solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 600;
  width: 25%;
}

.first {
  border-radius: 10px 0 0 10px;
}

.last {
  border-radius: 0 10px 10px 0;
}

.middle, .last {
  border-left: 0px;
}

.transport:hover {
  background-color: rgb(255, 115, 115);
}

.active {
  background-color: red;
  color: white;
}

.from-to, .dates {
  display: flex;
  align-items: center;
  border: 1px solid red;
  border-radius: 10px;
  padding: 0 10px;
  background-color: white;
  margin: 10px 0;
  position: relative;
  width: 100%;
}

.from, .to {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5px 30px;
  overflow: hidden;
}

.from label, .to label {
  opacity: 0.5;
  font-size: 12px;
}

.select-going-from, .select-going-to {
  border: none;
  outline: none;
  font-size: 15px;
  background-color: transparent;
  cursor: pointer;
}

.switch-arrow {
  border-radius: 10px;
  border: 1px solid red;
  background-color: white;
  cursor: pointer;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.to {
  border-left: 1px solid red;
}

label {
  margin-bottom: 2px;
}

.date-input {
  padding: 2px;
  width: fit-content;
  border: none;
  background-color: transparent;
  text-align: left;
}

.tranding-places {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

.options {
  position: absolute;
  z-index: 2;
  top: 70px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  display: none;
  box-shadow: 0 0 5px black;
}

.options-from {
  display: block;
}

.filter-option {
  height: 200px;
  overflow-y: auto;
}

.options input {
  width: 100%;
  border: none;
  border: none;
  outline: none;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  font-size: 15px;
}

.option {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s;
  background-color: rgb(235, 235, 235);
}

.option:hover {
  background-color: rgb(255, 115, 115);
}

.tranding-place {
  margin: 5px;
  opacity: 0.5;
  padding: 10px;
  background-color: #dfdfdf;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
}
.tranding-place i {
  margin: 0 5px;
}
.show-buses {
  padding: 10px;
  margin: 10px;
  background: white;
  border-radius: 10px;
  padding: 20px;
}

.bus {
  width: 100%;
  border: 2px solid red;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bus div {
  margin: 10px;
  background-color: rgb(212, 212, 212);
  border-radius: 10px;
  padding: 5px 10px;
}

.no-bus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home {
  text-decoration: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  position: absolute;
  top: 90px;
  left: 10px;
  color: white;
  border-radius: 100%;
  font-size: 20px;
  transition: all 0.2s;
}

.home:hover {
  box-shadow: 0 0 5px black;
}
.loader {
  height: 100dvh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
  background-color: rgba(255, 208, 208, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loading forwards 1s linear;
  animation-delay: 1s;
}

.outside {
  position: absolute;
  width: 90px;
  height: 95px;
  border-radius: 100%;
  border-top: 10px solid red;
  border-bottom: 10px solid red;
  animation: out 2s linear infinite;
}

.inside {
  position: absolute;
  width: 75px;
  height: 70px;
  border-radius: 100%;
  border-right: 10px solid black;
  border-left: 10px solid black;
  animation: in 2s linear infinite;
}

.dot1 {
  position: absolute;
  background-color: red;
  animation: dot1 1s linear infinite;
  border-radius: 50%;
  z-index: 1;
}
.dot2 {
  position: absolute;
  background-color: black;
  animation: dot2 1s linear infinite;
  animation-delay: 0.5s;
  border-radius: 50%;
}

.h3 {
  margin-top: 150px;
  font-size: 25px;
  animation: search 1s linear infinite;
  width: 150px;
  text-align: left;
}

@keyframes star {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    width: 5px;
    height: 5px;
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    top: 0;
  }
  100% {
    top: -100dvh;
  }
}

@keyframes out {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes in {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dot1 {
  0% {
    height: 10px;
    width: 40px;
  }
  50% {
    height: 40px;
    width: 10px;
  }
  100% {
    height: 10px;
    width: 40px;
  }
}

@keyframes dot2 {
  0% {
    height: 10px;
    width: 40px;
  }
  50% {
    height: 40px;
    width: 10px;
  }
  100% {
    height: 10px;
    width: 40px;
  }
}


@media screen and (max-width: 1000px) {
  .navbar {
    gap: 20px;
  }
}
@media screen and (max-width: 800px) {
  .navbar {
    background-color: transparent;
    justify-content: space-between;
    padding: 0 20px;
  }
  .navbar-menu,
  .profile,
  .my-bookings {
    display: none;
  }
  .optionst {
    right: 0;
  }
}
@media screen and (max-width: 650px) {
  .choose-routes {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
  .ticket {
    width: 100%;
    background-color: transparent;
    transform: translate(-50%, -50%);
  }
  .transport {
    border: none;
    flex-direction: column;
    box-shadow: 0 0 5px black;
    width: 60px;
    height: 60px;
    gap: 10px;
    border-radius: 10px;
  }
  .from {
    padding: 5px;
  }
}
